PORT=4000
JWT_SECRET=cambia_esto_por_algo_secreto_largo

# Base de datos global
DB_GLOBAL_HOST=localhost
DB_GLOBAL_PORT=5432
DB_GLOBAL_USER=postgres
DB_GLOBAL_PASSWORD=tu_password
DB_GLOBAL_NAME=optica_global

# Prefijos para nombres de BDs (se generan automáticamente)
DB_CLINICA_PREFIX=optica_clinica_
DB_FARMACIA_PREFIX=optica_farmacia_
